$primary:   blue;
$secondary: gray;
$success:   green;
$info:      cyan;
$warning:   yellow;
$danger:    red;
$light:     rgb(255, 255, 255);
$dark:      #353535;

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
);

$line-height-lg: 3;

$font-size-root: null;
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * .875;
$font-size-lg: $font-size-base * 1.25;

$h1-font-size: $font-size-base * 5; // For bigger titles
$h2-font-size: $font-size-base * 2; // For normal titles
$h3-font-size: $font-size-base * 1.75; // For subtitles
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25; 
$h6-font-size: $font-size-base;

$font-sizes: (
    1: $h1-font-size,
    2: $h2-font-size,
    3: $h3-font-size,
    4: $h4-font-size,
    5: $h5-font-size,
    6: $h6-font-size
);